/* MAIN FOOTER CONTAINER */
.footer-container {
  width: 100%;
  background: #000;
  color: white;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

/* LEFT SECTION (PORSCHE INFO) */
.social-text {
  max-width: 1000px;        /* stop the paragraph from stretching too long */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.social-text h3 {
  font-size: 28px;
  letter-spacing: 3px;
}

/* PARAGRAPH */
.social-text p {
  line-height: 1.6;
  font-size: 15px;
  opacity: 0.8;
}

/* SOCIAL ICONS */
.icons {
  display: flex;
  gap: 25px;
  font-size: 30px;
}

.icons a {
  color: white;
  transition: 0.2s ease;
}

.icons a:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

/* BACK TO TOP BUTTON */
.back-btn button {
  padding: 12px 22px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.25s ease;
  border-radius: 6px;
}

.back-btn button:hover {
  background: white;
  color: black;
}

copyright {
  margin-top: 10px;
  opacity: 0.6;
}

/* RIGHT SECTION (LEGAL) */
.legal {
  min-width: 450px;
}

.legal h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

.legal ul {
  list-style:none;
  /* padding: 0; */
  /* margin: 0; */
}

.legal ul li {
  padding: 6px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s ease;
}

.legal ul li:hover {
  opacity: 1;
  padding-left: 5px;
}

