.header-container {
  position: absolute; /* place it over the video */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  padding: 10px 30px;
  /* background: transparent;   */
  display: flex;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);

  justify-content: center; /* or space-between if needed */
  z-index: 2;
  color: white;
  /* text color on video */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ham-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.menu-txt {
  margin-left: 10px;
}
.user-btn {
    font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: white; /* buttons also white */
}

.header-title {
  font-family: "Bruno Ace";
  color: white; /* title text color */
  font-size: 1.8rem;
}
.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  transition: left 0.35s ease;
  /* background: rgba(0, 0, 0, 0.8); */
  background:transparent;
   backdrop-filter: blur(15px); 
  color:white;
  padding: 50px 60px;
}

.sidebar.open {
  left: 0;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar ul li {
  padding: 15px 0;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  transition: color 0.2s ease, padding-left 0.25s ease;
}

.sidebar ul a{
    text-decoration: none;
    color: white;
}
/* Hover effect */
.sidebar ul li:hover {
  color: #ccc;
  padding-left: 10px;
}
.sidebar .close-btn {
  position: absolute;     /* position relative to sidebar */
  bottom: 20px;           /* 20px from the bottom */
  right: 130px;     
     
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}