.header-container {
    position: absolute;       /* place it over the video */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    padding: 10px 30px;
    /* background: transparent;   */
    display: flex;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), transparent);

    justify-content: center;  /* or space-between if needed */
    z-index:2;            
    color: white; 
                /* text color on video */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ham-btn{
      border: none;
    background: transparent;
    cursor: pointer;
    color: white;  

}
.menu-txt{
    margin-left:10px;
}
.user-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;             /* buttons also white */
}

.header-title {
    font-family: 'Bruno Ace';
    color: white;             /* title text color */
    font-size: 1.8rem;
}
